
.list-group-item {
    min-width: 190px;
}

.list-group {
    width: 50%;
}

.nav-link {
    transition: 0.95s;
}

.nav-link:hover {
    /*transform: scale(1.05);*/
    background-color: #e4e4e4;
}

#context {
    margin-bottom: 50px;
}

#avatar {
    width: 375px;
}