* {
    border-radius: 4px;
}

.list-group-item {
    min-width: 185px;
}

.list-group {
    width: 50%;
}

.nav-link {
    transition: 1.25s;
}

.nav-link:hover {
    /*transform: scale(1.05);*/
    background-color: #e4e4e4;
}

#context {
    margin-bottom: 50px;
}

#avatar {
    width: 375px;
}